@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.feature_multiple_5{
    /* Feature / Multiple / 5 */
    /* Auto layout */
    width: 100%;
    margin: auto;
    padding: 50px 20px 0 20px;
}
.section_heading1{
    /* Section Heading */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 540px;
    height: 136px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(134, 134, 134, 0.25);
}
.heading-title{
    /* Heading / H2 */
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.heading-text{
    /* Lead / Lead 1 */
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}
.features_list1{
    /* Features List */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 50px 165px 50px 165px;
}
.row-1{
    /* Row 1 */
    /* Auto layout */
    display: flex;
    align-items: center;
    gap: 30px;
}
.row-1-element{
    /* 1 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}
.element-image{
    /* Feature Icons / 01 */
    width: 32px;
    height: 32px;
}
.element-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.element-heading{
    /* Heading / H5 */
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}
.element-text{
    /* Body / Body 1 */
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Text / Gray 900 */
    color: #18191F;
}
.row-2{
    /* Row 2 */
    /* Auto layout */
    display: flex;
    align-items: center;
    gap: 30px;
}
.row-2-element{
    /* 4 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}