.testimonial{
    position: relative;
    max-width: 1440px;
    height: 895px;
    margin: auto;
    background-color: #D5FAFC;
}
.quote-mark{
    position: absolute;
    left: 165px;
    top: 65px;
    width: 145px;
    height: 120px;
}
.testimonial-heading{
    position: absolute;
    left: 260px;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.testimonial-heading-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
    z-index: 2;
}
.testimonial-heading-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}
.testimonial-content-airbnb{
    position: absolute;
    left: 735px;
    top: 170px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}
.airbnb-logo{
    width: 130px;
    height: 40px;
}
.airbnb-content{
    display: flex;
    gap: 16px;
}
.airbnb-writing{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.airbnb-quotemark{
    width: 15px;
    height: 15px;
}
.airbnb-text{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}
.airbnb-writer{
    display: flex;
    flex-direction: column;
}
.airbnb-writer-name{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}
.airbnb-writer-title{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
}
.testimonial-content-book-my-show{
    position: absolute;
    left: 735px;
    top: 540px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
    max-width: 350px;
}
.testimonial-book-my-show-image{
    width: 135px;
    height: 40px;
}
.testimonial-book-my-show-content{
    display: flex;
    gap: 15px;
}
.book-my-show-quotemark{
    width: 15px;
    height: 15px;
}
.book-my-show-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.book-my-show-text{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}
.book-my-show-writer{
    display: flex;
    flex-direction: column;
}
.book-my-show-writer-name{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}
.book-my-show-writer-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
}